<?xml version="1.0" encoding="utf-8" ?>
<configuration>	
	<configSections>
  <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
   <section name="SPGen.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
  </sectionGroup>
 </configSections>
 <appSettings>				
		<add key="UserName" value="nlab" />		
		<add key="Password" value="ok0ubS144" />
		<add key="ServerName" value="svetac" />		
	</appSettings>
 <userSettings>
  <SPGen.Properties.Settings>
   <setting name="sa" serializeAs="String">
    <value>User</value>
   </setting>
  </SPGen.Properties.Settings>
 </userSettings>
</configuration>
